
body{
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

h1{
    border-left: 5px solid #e1e1e1;
    padding-left: 5px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 10px 15px;
    margin: 4px 0;
    background-color: #eee;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

li:hover{
    background-color: rgb(225, 210, 90);
}

.placeholder{
    background-color: rgb(255, 240, 120);
}

.placeholder:before{
    content: "Drope Here";
    color: rgb(255, 210, 90);
}